.btn {
  height: 5rem;
  width: 25rem;
  font-size: 1.6rem;
  font-family: 'suprema-regular';
  border-radius: 7px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  line-height: 4.5rem;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.4s;

  &-light {
    &.green {
      background-color: transparent;
      color: $green-light-1;
      border: 2px solid $green-light-1;

      &:hover {
        background-color: $green-light-1;
        color: white;
      }
    }
  }

  &-bold {
    &.green {
      background-color: $green-light-1;
      color: $white-1;
      border: 2px solid $green-light-1;

      &:hover {
        background-color: transparent;
        color: $green-light-1;
      }
    }
  }

  &-small {
    width: 15rem;
    height: 4.5rem;
    line-height: 4.3rem;
    font-family: 'suprema-light';
    font-size: 1.8rem;

    &.green {
      background-color: $green-light-1;
      color: $white-1;
      border: 2px solid $green-light-1;

      &:hover {
        background-color: transparent;
        color: $green-light-1;
      }
    }
  }
}
