.wedo {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    top: -3rem;
    position: relative;
    margin: 0 auto;
  }
  &__box-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10rem 3rem;
    width: 90%;
    margin: 0 auto;
  }

  &__feature-img {
    width: 60rem;
    height: 37.5rem;
  }
}
