
$green-dark-3: #0d2622;
$green-dark-2: #235945;
$green-dark-1: #2f734c;

$green-light-1: #50bf77;
$green-light-2: #5bd987;

$black-1: #302f2e;
$grey-1: #e5e2dd;

$white-1: #ffffff;
$white-2: #fffbf5;
$white-3: #f0f0f0;










$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-white: #fff;
$color-black: #000;


$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2F2F2F;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
