@font-face {
  font-family: 'suprema-regular';
  src: url(../fonts/suprema/0c8b7aaa-bf31-432c-9f2a-a9c16ffa7ca5.ttf);
}

@font-face {
  font-family: 'suprema-light';
  src: url(../fonts/suprema/40f26d3b-c25f-4417-8c02-2e043d52fa23.ttf);
}

@font-face {
  font-family: 'suprema-thin';
  src: url(../fonts/suprema/fa46d348-5759-4530-a2e0-d732ba984efe.ttf);
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
}

[class*='u-font-regular'] {
  font-family: 'suprema-regular';
}

[class*='u-font-light'] {
  font-family: 'suprema-light';
}

[class*='u-font-thin'] {
  font-family: 'suprema-thin';
}

.u-font-regular {
  &-70 {
    font-size: 7rem;
  }
  &-60 {
    font-size: 6rem;
  }
  &-45 {
    font-size: 4.5rem;
  }
  &-40 {
    font-size: 4rem;
  }

  &-35 {
    font-size: 3.5rem;
  }

  &-30 {
    font-size: 3rem;
  }

  &-25 {
    font-size: 2.5rem;
  }
  &-15 {
    font-size: 1.5rem;
  }
}

.u-font-light {
  &-45 {
    font-size: 4.5rem;
  }

  &-35 {
    font-size: 3.5rem;
  }
  &-30 {
    font-size: 3rem;
  }

  &-25 {
    font-size: 2.5rem;
  }

  &-20 {
    font-size: 2rem;
  }
  &-18 {
    font-size: 1.8rem;
  }

  &-16 {
    font-size: 1.6rem;
  }
  &-15 {
    font-size: 1.5rem;
  }
}

.u-font-thin {
  &-45 {
    font-size: 4.5rem;
  }

  &-35 {
    font-size: 3.5rem;
  }
  &-30 {
    font-size: 3rem;
  }

  &-25 {
    font-size: 2.5rem;
  }

  &-15 {
    font-size: 1.5rem;
  }
}
